.button-add {
  display: block;
  width: 220px;
  margin: 0 auto 16px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  background: #fff;
}
.button-remove {
  width: 100%;
  display: block;
  text-align: center;
  padding: 12px;
  border: none;
  background: none;
  color: #f5e5e7;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
}
